html{
    --color: Black;
    --text: White;
}


body {
	color: var(--text) !important;
	background-color: var(--color) !important;
}
 
div {
	color: var(--text) !important;
	background-color: var(--color) !important;
}